.main-header{
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: relative;
  background-color: var(--body-bg);
  z-index: 5000;
  img{
    height: 80%;
    @include from(lg){
      width: get-vw(230px);
      height: auto;
    }
  }
  @include from(lg){
    padding: 0 get-vw(100px);
  }
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;

    img{
      width: auto;
      height: calc(var(--header-height) * .8);
    }
  }
}
.main-menu{
  position: absolute;
  width: 100%;
  top: var(--header-height);
  left: 0;
  background-color: var(--body-bg);

  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  overflow-y: auto;
  @include from(lg){
    background: transparent;
    max-height: unset;
    position: relative;
    top: unset;
    left: unset;
    display: flex;
    align-items: center;
    column-gap: get-vw(100px);
    li, a{
      padding: 0;
    }


  }

  &__link{
    padding: 0 1em;
    display: block;
    line-height: 3em;
    text-transform: uppercase;
    font-family: var(--montserrat);
    @include from(lg){

    }
  }
  &.is-active{
    max-height: 500px;
  }
}
.social{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  a, img{
    width: 2em;
    height: auto;
    @include from(lg){
      width: get-vw(50px);
    }
  }
  @include from(lg){
    margin-bottom: 0;
    column-gap: get-vw(20px);
    margin-left: get-vw(20px);
  }
}
