.Donate{
  padding-top: 3em;
  padding-bottom: 3em;
  position: relative;
  @include from(lg){
    width: get-vw(1560px);
    margin: 0 auto ;
    padding: get-vw(283px) 0 get-vw(330px);
  }
  &__img{
    border-radius: 2em;
    overflow: hidden;
  }
  &__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 1em;
    @include from(lg) {
      top: 50%;
      left:get-vw(114px);
      transform: translateY(-50%);
      align-items: center;
    }
    p{
      margin-bottom: 0;
      font-family: var(--albert);
      font-size: .8em;
      color: #fff;
      font-weight: 400;
      @include from(lg){
        font-size: get-vw(28px);
      }
    }
  }
  &__btn{
    width: 50%;
    display: block;
    margin-bottom: .5em;
    @include from(lg){
      width: get-vw(367px);
      margin-bottom: get-vw(50px);
    }
    img{
      width: 100%;

    }
  }
}
// .Donate{
//   width: 90%;
//   max-width: get-vw(1560px);
//   position: relative;
//   margin: 0 auto;
//   margin-top: 4em;
//   margin-bottom: get-vw(330px);
//   overflow: hidden;
//   border-radius: 2em;
//   @include to(lg){
//     width: calc(100% - 2em);
//     max-width: unset;
//     background-color: lime;
//   }
//   @include from(lg){
//     margin-top: get-vw(283px);
//   }
//   &__img{
//     // width: 100%;
//     // height: 100%;
//   }
//   &__content{
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     top: 50%;
//     left: get-vw(110px);
//     transform: translateY(-50%);
//     background-color: lime;
//     width: auto;
//     height: auto;
//   }
//   a{
//     display: block;
//     width: get-vw(368px);
//     height: auto;
//     margin: 0 auto;
//     margin-bottom: 3em;
//     @include to(lg){
//       width: 50%;
//     }
//     img{
//       width: 100%;
//     }
//   }
//   p{
//     font-family: var(--albert);
//     font-size: get-vw(27px);
//     color: white;
//     margin-bottom: 0;
//   }
// }
