.Donate{
  width: 90%;
  max-width: get-vw(1560px);
  position: relative;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: get-vw(330px);
  overflow: hidden;
  border-radius: 2em;
  @include from(lg){
    margin-top: get-vw(283px);
  }
  &__img{
    width: 100%;
    height: 100%;
  }
  &__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: get-vw(110px);
    transform: translateY(-50%);
  }
  a{
    display: block;
    width: get-vw(368px);
    height: auto;
    margin: 0 auto;
    margin-bottom: 3em;
    img{
      width: 100%;
    }
  }
  p{
    font-family: var(--albert);
    font-size: get-vw(27px);
    color: white;
    margin-bottom: 0;
  }
}
