.Who{
  padding: 3em 1em;
  margin-bottom: 0 !important;
  @include from(lg) {
      padding: get-vw(133px) get-vw(160px) get-vw(205px);
  }
  p{
    color: var(--color-main);
  }
  h2{
    font-family: var(--poppins);
    text-align: center;
    font-size: 4.5em;
    color: var(--color-main);
    line-height: 1em;
    margin-bottom: 3rem;
    @include from(lg){
      font-size: get-vw(200px);
      line-height: 1;
      margin-bottom: get-vw(80px);
    }
  }
  .grid-secction{
    @include from(lg){
      display: grid;
      grid-template-columns: repeat(3,1fr);
      column-gap: get-vw(48px);
    }
  }
  p{
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
    color: var(--color-main);
    line-height: 1.1;
    font-weight: 600;
    @include from(lg){
      font-size: get-vw(24px);
    }

  }
  .column{
    @include from(lg){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:last-child{
      justify-content: start;
      p:last-child {
          font-weight: 700;
        }
    }
    p:last-child{
      margin-bottom: 0 !important;
    }
  }
}
