.Why{
  position: relative;
  padding-top: 4em;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  @include from(lg){
    padding: 0;
    padding-top: get-vw(310px);

  }
  .title {
    font-family: var(--poppins);
    text-align: center;
    font-size: 5em;
    color: var(--color-main);
    line-height: 1em;
    margin-bottom: 3rem;

    @include from(lg) {
      font-size: get-vw(200px);
      line-height: 1;
      margin-bottom: get-vw(80px);
    }
  }
  p{
    padding: 0 1em;
    font-weight: 600 !important;
    @include to(lg){
      text-align: center;
    }
  }
  .grid{
    margin-bottom: 2em;
    @include from(lg){
      display: grid;
      grid-template-columns: get-vw(528px) 1fr;
      column-gap: get-vw(100px);
      padding-left: get-vw(150px);
      padding-right: get-vw(60px);
      margin-bottom: get-vw(180px);
      br{
        display: none;
      }
    }
    img{
      width: 100%;
      border-radius: 2em;
    }
  }
  .text{
    @include from(lg){
    }
  }

  .text p{
    color: var(--color-main);
    padding: 0 !important;
    line-height: 1.2 !important;
    @include to(lg){
      margin-bottom: .5em !important;
    }
    br{
      display: none;
    }
    @include from(lg){
      font-size: get-vw(40px);
      line-height: 1.3;
      padding-top: 2em !important;
      br{
        display: initial;
      }
    }
  }
  h3{
    padding: 0 1em ;
    text-align: center;
    font-size: 1.5em;
    color: var(--color-main);
    font-weight: 600;
    margin-bottom: 2em;
    br{
      @include to(lg){
        display: none;
      }
    }
    @include from(lg){
      font-size: get-vw(50px);
      margin-bottom: get-vw(58px);
    }
  }
  .list-like{
    color: var(--color-main);
    text-align: center;
    margin: 0;
    font-weight: 700;
    @include from(lg){
      font-size: 37px;
      line-height: 1.3;
    }
  }

}
.flag{
  position: absolute;
  top: 0;
  left: 0;
  width: get-vw(929px) !important;
}
