---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.astro';
import Vote from '../components/Vote.astro';
import Separator2 from '../components/Separator2.astro';
import Separator from '../components/separator.astro';
import Who from '../components/Who.astro';
import Picture from '../components/Picture.astro';
import Why from '../components/Why.astro';
import Separator3 from '../components/Separator3.astro';
import What from '../components/What.astro';
import Donate from '../components/Donate.astro';
import Form from '../components/Form.astro';
---

<Layout title="Elvira Meraz">
  <main>
    <Top />
    <Separator />
    <Vote />
    <Separator2 />
    <Who />
    <div class="elvira-separator">
      <Picture img="elvira1" alt="Elvira Meraz" ext="jpg" />
    </div>
    <Why />

    <Separator3 />
    <Picture img="girls" alt="girls" ext="jpg" />
    <What />
    <!--<Separator />
    <Donate />
    <Form /> -->
  </main>
</Layout>
