---
import Picture from './Picture.astro';
---

<section class="Donate">
  <Picture className="Donate_img" img="elvira" ext="jpg" alt="Elvira Meraz" />
  <div class="Donate__content">
    <a class="btn-donate" href="#"><img src="/donate.svg" alt="donate" /></a>
    <p>Thank you for becoming part of our campaign.</p>
  </div>
</section>
