---
import Picture from './Picture.astro';
---

<section class="Donate" id="donate" data-aos="zoom-in-up">
  <Picture className="Donate__img" img="elvira" ext="jpg" alt="Elvira Meraz" />
  <div class="Donate__content">
    <a class="Donate__btn" href="#"
      ><img src="/donate.svg" alt="donate" class="Donate__btn--img" /></a
    >
    <p>Thank you for becoming part of our campaign.</p>
  </div>
</section>
