---
import Picture from './Picture.astro';
---

<section class="Donate">
  <Picture img="elvira" ext="jpg" alt="Elvira Meraz" />
  <div class="like-button">
    <p>Donate</p>
    <span>BY CLICKING HERE</span>
  </div>
  <p>Thank you for becoming part of our campaign.</p>
</section>
