---
import Picture from './Picture.astro';
---

<section class="Form">
  <div class="Form__grid">
    <Picture img="couple_1" alt="Elvira Meraz" ext="jpg" />
    <form action="" id="contact-form">
      <header class="header-form">
        <h2>Together we can make it possible.</h2>
        <p>Join Elvira and let’s transform Downey, united.</p>
        <span>(* required)</span>
      </header>

      <div class="input-grid">
        <div class="input-group">
          <input
            required=""
            type="text"
            name="firstName"
            id="firstName"
            autocomplete="off"
            class="input"
            placeholder=" "
            required
          />
          <label class="user-label" for="firstName">First Name*</label>
        </div>
        <div class="input-group">
          <input
            required=""
            type="text"
            name="lastName"
            id="lastName"
            autocomplete="off"
            class="input"
            placeholder=" "
            required
          />
          <label class="user-label" for="lastName">Last Name*</label>
        </div>
      </div>
      <div class="input-group">
        <input
          required=""
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          class="input"
          placeholder=" "
          required
        />
        <label class="user-label" for="email">Email Address*</label>
      </div>
      <div class="input-group">
        <input
          required=""
          type="text"
          name="phone"
          id="phone"
          autocomplete="off"
          class="input"
          placeholder=" "
          required
          pattern="^\d{1}$"
        />
        <label class="user-label" for="phone">Phone Number*</label>
      </div>
      <footer class="footer-form">
        <p class="text">esto es un mensaje</p>
        <button class="btn-submit">Count me in!</button>
      </footer>
    </form>
  </div>
</section>
<script>
  const form = document.getElementById('contact-form');
  form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const target: any = e.target;
    const $inputs = target.querySelectorAll('input[required]');
    console.log($inputs);
  });
</script>
