---
import Picture from './Picture.astro';
---

<section class="Form" id="support">
  <div class="Form__grid">
    <Picture aos="fade-right" img="couple_1" alt="Elvira Meraz" ext="jpg" />
    <form action="" id="contact-form" data-aos="fade-left">
      <header class="header-form">
        <h2>Together we can make it possible.</h2>
        <p>Join Elvira and let’s transform Downey, united.</p>
        <span>(* required)</span>
      </header>

      <div class="input-grid">
        <div class="input-group">
          <input
            type="text"
            name="firstName"
            id="firstName"
            autocomplete="off"
            class="input"
            placeholder=" "
            pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$"
          />
          <label class="user-label" for="firstName">First Name*</label>
        </div>
        <div class="input-group">
          <input
            type="text"
            name="lastName"
            id="lastName"
            autocomplete="off"
            class="input"
            placeholder=" "
            pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$"
          />
          <label class="user-label" for="lastName">Last Name*</label>
        </div>
      </div>
      <div class="input-group">
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          class="input"
          placeholder=" "
          pattern="^[a-z0-9]+(\\.[_a-z0-9]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,15})"
        />
        <label class="user-label" for="email">Email Address*</label>
      </div>
      <div class="input-group">
        <input
          type="text"
          name="phone"
          id="phone"
          autocomplete="off"
          class="input"
          placeholder=" "
          pattern="^[0-9]{10}"
        />
        <label class="user-label" for="phone">Phone Number*</label>
      </div>
      <footer class="footer-form">
        <p class="text" id="msg"></p>
        <button class="btn-submit">Count me in!</button>
      </footer>
    </form>
  </div>
</section>
<script>
  const form = document.getElementById('contact-form');
  form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const target: any = e.target;
    const msg = target.querySelector('#msg');
    const $inputs = target.querySelectorAll('input');
    // console.log($inputs);
    $inputs.forEach((input: any) => {
      const pattern = input.pattern;
      const value = input.value;
      console.log(value, pattern);
      input.addEventListener('change', (e: any) => {
        console.log(e);
      });
    });
  });
</script>
