---
import Picture from './Picture.astro';
---

<section class="Form" id="support">
  <div class="Form__grid">
    <Picture aos="fade-right" img="couple_1" alt="Elvira Meraz" ext="jpg" />
    <form action="" id="contact-form" data-aos="fade-left">
      <header class="header-form">
        <h2>Together we can make it possible.</h2>
        <p>Join Elvira and let’s transform Downey, united.</p>
        <span>(* required)</span>
      </header>

      <div class="input-grid">
        <div class="input-group">
          <input
            type="text"
            name="firstName"
            id="firstName"
            autocomplete="off"
            class="input"
            placeholder=" "
            pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$"
            required
          />
          <label class="user-label" for="firstName">First Name*</label>
        </div>
        <div class="input-group">
          <input
            type="text"
            name="lastName"
            id="lastName"
            autocomplete="off"
            class="input"
            placeholder=" "
            pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$"
            required
          />
          <label class="user-label" for="lastName">Last Name*</label>
        </div>
      </div>
      <div class="input-group">
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          class="input"
          placeholder=" "
          pattern="^[a-z0-9]+(\\.[_a-z0-9]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,15})"
          required
        />
        <label class="user-label" for="email">Email Address*</label>
      </div>
      <div class="input-group">
        <input
          type="text"
          name="phone"
          id="phone"
          autocomplete="off"
          class="input"
          placeholder=" "
          pattern="^[0-9]{10}"
          required
        />
        <label class="user-label" for="phone">Phone Number*</label>
      </div>
      <footer class="footer-form">
        <p class="text" id="msg"></p>
        <button class="btn-submit" id="button">Count me in!</button>
      </footer>
    </form>
  </div>
</section>

<script>
  const form = document.getElementById('contact-form');
  const inputMsg: any = document.getElementById('msg');
  const button: any = document.getElementById('button');

  form?.addEventListener('submit', async (e) => {
    button.innerHTML = '<img src="/tail-spin.svg"/>';
    e.preventDefault();
    const target: any = e.target;
    const form = new FormData(target);
    console.log(form.get('firstName'));
    const res = await fetch('http://elvirafordowney.com/send/send.php', {
      method: 'post',
      body: form,
    });
    const data = await res.json();
    console.log(data.msg);
    if (data.code === 200) {
      button.innerHTML = 'Count me in!';
      inputMsg.classList.remove('error');
      inputMsg.classList.add('success');
    } else {
      inputMsg.classList.remove('success');
      inputMsg.classList.add('error');
    }
    inputMsg.innerText = `${data.msg}`;
  });
</script>
