---
import { menuItems } from '../utilitis/menu';
import Hamburger from './Hamburguer';
import Social from './Social.astro';
---

<header class="main-header">
  <img src="/img/logo.svg" alt="Elvira Meraz Logo" />
  <nav class="main-nav">
    <Hamburger active=true/>
    <ul class="main-menu">
      {
        menuItems.map((item: any) => (
          <li>
            <a href={`#${item.title}`}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <Social />
  </nav>
</header>
