<div class="stars-container">
  <div class="stars"></div>
  <!-- <picture class="stars">
    <source srcset="/stars-xs.svg" media="(max-width: 400px)" />
    <source srcset="/stars.svg" media="(min-width: 1080px)" />
    <img src="/stars.svg" alt="stars" /> -->
</div>
