<div class="stars-container">
  <picture class="stars">
    <source srcset="/stars-xs.svg" media="(max-width: 400px)" />
    <!-- <source srcset="/stars-small.svg" media="(max-width: 1000px)" /> -->
    <source srcset="/stars.svg" media="(min-width: 1080px)" />
    <img src="/stars.svg" alt="stars" />
  </picture>
</div>
