---
import { socialNentworsksItems } from '../utilitis/social';
---

<ul class="social">
  {
    socialNentworsksItems.map((item: any) => (
      <li>
        <a href={item.url} target="_blank">
          <img src={item.img} alt="" />
        </a>
      </li>
    ))
  }
</ul>
