---
import Picture from './Picture.astro';
---

<section class="top">
  <Picture img="elvira2" alt="Elvira Meraz" ext="jpg" />
  <div class="top-content">
    <h1>ELVIRA MERAZ</h1>
    <h1>ONE Family, ONE Community, ONE Future</h1>
    <div class="text">
      <h3>For the Downey we deserve, together</h3>
      <p>
        Let’s make our voices be heard. Be part of this movement to transform
        the place we call home into a better one, for us and our children.
      </p>
      <button class="btn line">JOIN Me!</button>
    </div>
  </div>
</section>
