---
import Picture from './Picture.astro';
---

<section class="Top">
  <div class="img-cont">
    <Picture img="elvira2" alt="Elvira Meraz" ext="jpg" />
  </div>
  <div class="Top__content">
    <h1>ELVIRA MERAZ</h1>
    <h2>ONE Family, ONE Community, ONE Future</h2>
    <div class="text">
      <h3>For the Downey we <br /> deserve, together</h3>
      <p>
        Let’s make our voices be heard. Be part of this<br /> movement to transform
        the place we call home into a better<br /> one, for us and our children.
      </p>
      <button class="">JOIN Me!</button>
    </div>
  </div>
</section>
