<section class="vote">
  <h2>Vote Elvira Meraz for Downey City Council District 1!</h2>
  <p>
    AS A MARRIED MOTHER OF FOUR, I UNDERSTAND THE IMPORTANCE OF A THRIVING
    COMMUNITY FOR FAMILIES. I AM AN ACTIVE PTA MOM AND DANCE MOM, DEEPLY
    INVOLVED IN OUR SCHOOLS AND YOUTH ACTIVITIES.
  </p>

  <p>
    AS A BUSINESS OWNER, I KNOW THE VALUE OF ECONOMIC GROWTH AND WILL WORK
    TIRELESSLY TO BRING MORE OPPORTUNITIES TO OUR COMMUNITY. BEING BILINGUAL, I
    CAN BRIDGE GAPS AND ENSURE ALL VOICES ARE HEARD. MY FOCUS ON JOB PROGRAMS
    WILL FURTHER SUPPORT RESIDENTS IN NEED.
  </p>

  <p>
    I HAVE SERVED AS A NEIGHBORHOOD WATCH BLOCK CAPTAIN, MAKING OUR STREETS
    SAFER, AND WILL ADVOCATE FOR POLICE RECRUITMENT AND RETENTION PROGRAMS TO
    STRENGTHEN LAW ENFORCEMENT. I'LL ALSO EXPAND THE NEIGHBORHOOD WATCH PROGRAM
    TO FOSTER A TIGHTER-KNIT COMMUNITY. SAFETY IS MY TOP PRIORITY. HOMELESSNESS
    IS A PRESSING ISSUE. I WILL IMPLEMENT EFFECTIVE SOLUTIONS AND WORK WITH
    ORGANIZATIONS AND LOCAL LEADERS TO ALLEVIATE THIS PROBLEM. I AM DEDICATED TO
    ENHANCING OUR CITY'S INFRASTRUCTURE BY IMPLEMENTING COMPREHENSIVE STREET
    LIGHTING AND ROAD IMPROVEMENT INITIATIVES.
  </p>
  <p class="bold">
    AS YOUR PUBLIC SERVANT, I AM DEDICATED TO COMMUNITY ADVOCACY, AND READY TO
    BRING POSITIVE CHANGE.
  </p>
  <p class="bold red">
    LET’S RESTORE ORDER IN DOWNEY TO CREATE A PROSPEROUS, SAFE, AND WELCOMING
    CITY FOR ALL.
  </p>
</section>
