<section class="Vote">
  <h2 data-aos="zoom-in">
    Vote Elvira Meraz for Downey City Council District 1!
  </h2>
  <p data-aos="fade-zoom-out" data-aos-delay="100">
    AS A MARRIED MOTHER OF FOUR, I UNDERSTAND THE IMPORTANCE OF A THRIVING
    COMMUNITY FOR FAMILIES. I AM AN<br /> ACTIVE PTA MOM AND DANCE MOM, DEEPLY INVOLVED
    IN OUR SCHOOLS AND YOUTH ACTIVITIES.
  </p>

  <p data-aos="fade-zoom-out" data-aos-delay="150">
    AS A BUSINESS OWNER, I KNOW THE VALUE OF ECONOMIC GROWTH AND WILL WORK
    TIRELESSLY TO BRING MORE<br /> OPPORTUNITIES TO OUR COMMUNITY. BEING BILINGUAL,
    I CAN BRIDGE GAPS AND ENSURE ALL VOICES ARE HEARD. MY<br /> FOCUS ON JOB PROGRAMS
    WILL FURTHER SUPPORT RESIDENTS IN NEED.
  </p>

  <p data-aos="fade-zoom-out" data-aos-delay="200">
    I HAVE SERVED AS A NEIGHBORHOOD WATCH BLOCK CAPTAIN, MAKING OUR STREETS
    SAFER, AND WILL ADVOCATE FOR<br /> POLICE RECRUITMENT AND RETENTION PROGRAMS
    TO STRENGTHEN LAW ENFORCEMENT. I'LL ALSO EXPAND THE<br /> NEIGHBORHOOD WATCH
    PROGRAM TO FOSTER A TIGHTER-KNIT COMMUNITY. SAFETY IS MY TOP PRIORITY.<br />
    HOMELESSNESS IS A PRESSING ISSUE. I WILL IMPLEMENT EFFECTIVE SOLUTIONS AND WORK
    WITH ORGANIZATIONS AND<br /> LOCAL LEADERS TO ALLEVIATE THIS PROBLEM. I AM DEDICATED
    TO ENHANCING OUR CITY'S INFRASTRUCTURE BY<br /> IMPLEMENTING COMPREHENSIVE STREET
    LIGHTING AND ROAD IMPROVEMENT INITIATIVES.
  </p>
  <p data-aos="fade-zoom-out" data-aos-delay="250" class="bold">
    AS YOUR PUBLIC SERVANT, I AM DEDICATED TO COMMUNITY ADVOCACY,<br /> AND READY
    TO BRING POSITIVE CHANGE.
  </p>
  <p data-aos="fade-zoom-out" data-aos-delay="300" class="bold red">
    LET’S RESTORE ORDER IN DOWNEY TO CREATE A PROSPEROUS, SAFE,<br />AND
    WELCOMING CITY FOR ALL.
  </p>
</section>
