<section class="What" id="what">
  <img class="flag" src="/flag.svg" alt="flag" />
  <div class="What__grid">
    <div class="text" data-aos="fade-right">
      <h2 class="title">WHAT</h2>
      <p>ELVIRA’S FIVE POINT PLAN</p>
      <ul>
        <li>SUPPORTS RESTORING ORDER AT DOWNEY CITY HALL</li>
        <li>POLICE RECRUITMENT AND RETENTION PROGRAM</li>
        <li>ENHANCED STREET LIGHTNING AND ROAD IMPROVEMENTS</li>
        <li>NEIGHBORHOOD WATCH EXPANSION TO TACKLE HOMELESSNESS</li>
        <li>DEVELOPMENT OF BUSINESS AND JOB PROGRAMS</li>
      </ul>
    </div>
    <div class="What__img" data-aos="fade-left">
      <img src="/map.svg" alt="map" />
    </div>
  </div>
</section>
