<section class="Why What">
  <img class="flag" src="/flag.svg" alt="flag" />
  <div class="What__grid">
    <div class="text">
      <h2 class="title">WHAT</h2>
      <h3>ELVIRA’S FIVE POINT PLAN</h3>
      <ul>
        <li>SUPPORTS RESTORING ORDER AT DOWNEY CITY HALL</li>
        <li>POLICE RECRUITMENT AND RETENTION PROGRAM</li>
        <li>ENHANCED STREET LIGHTNING AND ROAD IMPROVEMENTS</li>
        <li>NEIGHBORHOOD WATCH EXPANSION TO TACKLE HOMELESSNESS</li>
        <li>DEVELOPMENT OF BUSINESS AND JOB PROGRAMS</li>
      </ul>
    </div>
    <div class="What__img">
      <img src="/map.svg" alt="map" />
    </div>
  </div>
</section>
