<section class="who">
  <p>
    In 2006, I made the life-changing decision to move to Downey. The following
    year, Downey Regional Medical Center became the place where I joyfully
    welcomed my first child into the world. As a determined single mother, I
    held onto a dream of owning a home in this vibrant community, fully aware of
    the challenges that lay ahead. With unwavering faith, I crossed paths with
    Manuel Meraz, who is now my loving husband. Our shared values of faith,
    family, and entrepreneurship brought us together, and we embarked on the
    journey of raising a blended family of four amazing children.
  </p>

  <p>
    Our children include Jazmyn, an alumnus of Downey High School, Lilly and
    Bryanna, both currently attending Downey High School, and Manuel, who is a
    student at Ward Elementary. Through immense dedication and hard work, we
    transitioned from renting to becoming proud homeowners in 2013. Our modest
    abode in District 1 is a source of immense pride for me.
  </p>

  <p>
    For the past 15 years, my life has revolved around being a devoted mother,
    loving wife, diligent worker, responsible daughter, and woman of deep faith.
    Downey has provided me with countless joys and memorable experiences. The
    decision to run for City Council was not one I made alone. My family, my
    most cherished asset, proudly supports me and will stand firmly by my side
    throughout this entire journey. Running for council requires tremendous
    courage, as it exposes every aspect of your life to public scrutiny. I share
    with you that navigating the complexities of a blended family has presented
    its own unique challenges. We haven't always seen eye to eye with the other
    parents involved, and managing the chaotic schedules of three different
    households has tested our resilience. Yet, we have always found a way to
    make it work. Our family represents the essence of a modern family, and I
    wouldn't have it any other way.
  </p>

  <p>
    With 18 years of experience in the financial industry, my professional
    journey has been diverse. I started as a life insurance and securities
    representative, holding licenses in health and life, as well as Series 63
    and Series 6. Later, I transitioned to become a mortgage loan originator
    with the NMLS, working with various direct lenders. Additionally, I am a
    licensed realtor and an active member of the Downey Association of Realtors,
    actively participating in three committees within the association.
  </p>

  <p>
    In 2015, my husband and I fulfilled our entrepreneurial aspirations by
    establishing a family-run Real Estate and Mortgage Company in Downey.
    Through this venture, I am also a volunteer ambassador to the Chamber of
    Commerce, promoting local businesses and community development. Passionate
    about the president-elect for the PTA. Furthermore, I hold the position of
    Auditor for the 2023-2024 school year in Downey High School's PTA.
  </p>

  <p>
    In my commitment to making a positive impact on children's lives, I am a
    proud member of Kiwanis International. As a Neighborhood Watch Block
    Captain, I facilitate community engagement and assist residents in becoming
    neighborhood watch captains for their respective areas.
  </p>

  <p>
    In summary, my journey has been shaped by resilience, faith, and a deep
    passion for serving my community. I wholeheartedly believe in the potential
    of Downey, and as a candidate for City Council, I aim to contribute my
    expertise, values, and unwavering dedication to fostering a vibrant and
    prosperous future for all its residents.
  </p>
</section>
