---
import Picture from './Picture.astro';
import Separator3 from './Separator3.astro';
---

<section class="why">
  <img src="/flag.svg" alt="flag" />
  <div class="grid">
    <div class="text">
      <p>
        This is the most consequential election in Downey’s history. Ballots
        will be mailed in early October, with nothing else on the election
        agenda. Downey voters will be heard... and heard loudly. With the
        council beig divided over a recent recall, this election will determine
        the future of our city.
      </p>
    </div>
    <Picture img="boy" alt="Elvira Meraz" ext="jpg" />
  </div>
  <h2>Over 100 District One Residents already endorse Elvira Meraz.</h2>
  <p>
    Elvira is endorsed by: The Downey Coalition of former Mayors – Kirk
    Cartozian, Rick Rodriguez, Roger Brossmer, Keith McCarthy. Current Mayor
    Claudia M. Frometa. Ron Kolar Owner L’abri Management. Jeremy Fitzl Managing
    Partner L'abri Management. Humberto and Vanessa Ibarra Founder of Tequila
    Mandala. Steve Roberson Broker Century 21 Peak and life long resident. Nanci
    Swenson School Board Member. Bobbi Samperi School Board Member.
  </p>
  <Separator3 />
</section>
