---
import Picture from './Picture.astro';
import Separator3 from './Separator3.astro';
---

<section class="Why">
  <img class="flag" src="/flag.svg" alt="flag" />
  <div id="why"></div>
  <h2 class="title" data-aos="fade-down">WHY</h2>
  <div class="grid">
    <div class="text" data-aos="fade-right">
      <p>
        This is the most<br /> consequential election in<br /> Downey’s history.
        Ballots<br />
        will be mailed in early<br /> October, with nothing else<br /> on the election
        agenda.<br /> Downey voters will be<br /> heard... and heard loudly.<br
        /> With the council beig<br /> divided over a recent<br /> recall, this election
        will<br /> determine the future<br /> of our city.
      </p>
    </div>
    <Picture img="boy" alt="Elvira Meraz" ext="jpg" aos="fade-left" />
  </div>
  <h3 data-aos="fade-left">
    Over 100 District One Residents<br /> already endorse Elvira Meraz.
  </h3>
  <div class="like-ul">
    <p class="list-like">Community leaders who endorse Elvira:</p>
    <p class="list-like">Current Mayor Claudia M. Frometa</p>
    <p class="list-like">Nanci Swenson School Board Member.</p>
    <p class="list-like">Bobbi Samperi School Board Member.</p>
    <p class="list-like">
      The Downey Coalition of former Mayors:
      <br />Kirk Cartozian, Rick Rodriguez, Roger Brossmer, Keith McCarthy.
    </p>
    <p class="list-like">Ron Kolar Owner L’abri Management.</p>
    <p class="list-like">Jeremy Fitzl Managing Partner L'abri Management.</p>
    <p class="list-like">
      Humberto and Vanessa Ibarra Founder of Tequila Mandala.
    </p>
    <p class="list-like">
      Steve Roberson Broker Century 21 Peak and life long resident.
    </p>
    <p class="list-like">
      Michael Murray D-1 resident and former member of Downey Public works
      committee
    </p>
  </div>
  <!-- <p class="list-like" data-aos="fade-right">Elvira is endorsed by:</p>
  <p class="list-like" data-aos="fade-right">
    The Downey Coalition of former Mayors – Kirk Cartozian,<br />
    Rick Rodriguez, Roger Brossmer, Keith McCarthy.<br />
    Current Mayor Claudia M. Frometa.<br />
    Ron Kolar Owner L’abri Management.<br />
    Jeremy Fitzl Managing Partner L'abri Management.<br />
    Humberto and Vanessa Ibarra Founder of Tequila Mandala.<br />
    Steve Roberson Broker Century 21 Peak and life long resident.<br />
    Nanci Swenson School Board Member.<br />
    Bobbi Samperi School Board Member.
  </p> -->
</section>
