---
import Picture from './Picture.astro';
import Separator3 from './Separator3.astro';
---

<section class="Why" id="why">
  <img class="flag" src="/flag.svg" alt="flag" />
  <h2 class="title" data-aos="zoom-in">WHY</h2>
  <div class="grid">
    <div class="text" data-aos="fade-right">
      <p>
        This is the most<br /> consequential election in<br /> Downey’s history.
        Ballots<br />
        will be mailed in early<br /> October, with nothing else<br /> on the election
        agenda.<br /> Downey voters will be<br /> heard... and heard loudly.<br
        /> With the council beig<br /> divided over a recent<br /> recall, this election
        will<br /> determine the future<br /> of our city.
      </p>
    </div>
    <Picture aos="fade-left" img="boy" alt="Elvira Meraz" ext="jpg" />
  </div>
  <h3 data-aos="zoom-out">
    Over 100 District One Residents<br /> already endorse Elvira Meraz.
  </h3>
  <p class="list-like" data-aos="zoom-in">Elvira is endorsed by:</p>
  <p class="list-like" data-aos="zoom-in">
    The Downey Coalition of former Mayors – Kirk Cartozian,<br />
    Rick Rodriguez, Roger Brossmer, Keith McCarthy.<br />
    Current Mayor Claudia M. Frometa.<br />
    Ron Kolar Owner L’abri Management.<br />
    Jeremy Fitzl Managing Partner L'abri Management.<br />
    Humberto and Vanessa Ibarra Founder of Tequila Mandala.<br />
    Steve Roberson Broker Century 21 Peak and life long resident.<br />
    Nanci Swenson School Board Member.<br />
    Bobbi Samperi School Board Member.
  </p>
</section>
