---
import Picture from './Picture.astro';
import Separator3 from './Separator3.astro';
---

<section class="Why">
  <img class="flag" src="/flag.svg" alt="flag" />
  <h2 class="title">WHY</h2>
  <div class="grid">
    <div class="text">
      <p>
        This is the most<br /> consequential election in<br /> Downey’s history.
        Ballots<br />
        will be mailed in early<br /> October, with nothing else<br /> on the election
        agenda.<br /> Downey voters will be<br /> heard... and heard loudly.<br
        /> With the council beig<br /> divided over a recent<br /> recall, this election
        will<br /> determine the future<br /> of our city.
      </p>
    </div>
    <Picture img="boy" alt="Elvira Meraz" ext="jpg" />
  </div>
  <h3>Over 100 District One Residents<br /> already endorse Elvira Meraz.</h3>
  <p class="list-title">Elvira is endorsed by:</p>
  <ul class="list">
    <li>The Downey Coalition of former Mayors – Kirk</li>
    <li>
      Cartozian, Rick Rodriguez, Roger Brossmer, Keith McCarthy. Current Mayor
    </li>
    <li>
      Claudia M. Frometa. Ron Kolar Owner L’abri Management. Jeremy Fitzl
      Managing
    </li>
    <li>
      Partner L'abri Management. Humberto and Vanessa Ibarra Founder of Tequila
    </li>
    <li>
      Mandala. Steve Roberson Broker Century 21 Peak and life long resident.
      Nanci
    </li>
    <li>Swenson School Board Member. Bobbi Samperi School Board Member.</li>
  </ul>
</section>
