@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Bold.woff') format('woff2'),
    url('/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'agenda';
  src: url('/fonts/Agenda-Light-Regular.woff') format('woff2'),
    url('/fonts/Agenda-Light-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'arno';
  src: url('/fonts/ArnoPro-Bold.woff') format('woff2'),
    url('/fonts/ArnoPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'minion';
  src: url('/fonts/Minion-Variable-Concept.woff') format('woff2'),
    url('/fonts/Minion-Variable-Concept.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
